@media screen and (max-width: 1320px) and (min-width: 1025px) {
  .diagram__wrapper {
    width: 250px;
    height: 250px;
  }
  .info{
    width: 250px;
    height: 250px;
  }
  .target{
    height: 310px;
  }
}