h2.diagram__title.diagrm__title--center
  |Русалка на ветвях сидит
.diagram__subtitle.diagram__subtitle--center
  |За такое одолженье, говорит он в восхищенье, волю первую твою я исполню, как мою
.diagram__desc.diagram__desc--center
  |Готовит просвещенья дух, и опыт, сын ошибок трудных, и гений, парадоксов друг.
.diagram__row
  .target
    .target__top.target__part
      |Level 0
    .target__bottom.target__part
      |50
    .diagram__wrapper
      .target__right.target__part
        |25
      .target__left.target__part
        |75
      .ring.first-quarter
      .ring.second-quarter
      .ring.third-quarter
      .ring.fourth-quarter
      .ring.third-quarter.third-quarter--blue
      .ring.second-quarter.second-quarter--lgreen
      .ring.second-quarter.second-quarter--green
      .ring.first-quarter.first-quarter--mask
      .info
        .wrapper_desk
          .persent
            |56
          .desk
            |О сколько нам открытий 
            =" "
            |чудных готовит
            =" "
            |просвященья дух
  .target
    .target__top.target__part
      |Level 0
    .target__bottom.target__part
      |50
    .diagram__wrapper
      .target__right.target__part
        |25
      .target__left.target__part
        |75
      .ring.first-quarter
      .ring.second-quarter
      .ring.third-quarter
      .ring.fourth-quarter
      .ring.third-quarter.third-quarter--blue.third-quarter--second-blue
      .ring.second-quarter.second-quarter--lgreen.second-quarter--second-lgreen
      .ring.second-quarter.second-quarter--lgreen.second-quarter--repeat-lgreen
      .ring.second-quarter.second-quarter--green.second-quarter--second-green
      .ring.first-quarter.first-quarter--mask.first-quarter--second
      .info
        .wrapper_desk
          .persent
            |75
          .desk
            |И опыт, сын ошибок 
            =" "
            |трудных, и гений, 
            =" "
            |парадоксов друг
  .target
    .target__top.target__part
      |Level 0
    .target__bottom.target__part
      |50
    .diagram__wrapper
      .target__right.target__part
        |25
      .target__left.target__part
        |75
      .ring.first-quarter
      .ring.second-quarter
      .ring.third-quarter
      .ring.fourth-quarter
      .ring.third-quarter.third-quarter--blue.third-quarter--third-blue
      .ring.second-quarter.second-quarter--lgreen.second-quarter--third
      .ring.second-quarter.second-quarter--green.second-quarter--third
      .ring.first-quarter.first-quarter--mask.second-quarter--third
      .info
        .wrapper_desk
          .persent
            |39
          .desk
            |Александр
            =" "
            |Сергеевич
            =" "
            |Пушкин