.diagram__subtitle
  |О сколько нам открытий чудных
.diagram__desc
  |Готовит просвещенья дух, и опыт, сын ошибок трудных, и гений, парадоксов друг.
.diagram__row
  .diagram__column
    .diagram__column__title
      |Иван
    .chart.chart__blue
      span.legend
        |Честность
    .chart.chart__green
      span.legend
        |Местность
    .chart.chart__lgreen
      span.legend
        |Масса
    .chart.chart__orange
      span.legend
        |Том
    .chart.chart__pink
      span.legend
        |Местность
  .diagram__column
    .diagram__column__title
      |Николай
    .chart.chart__blue
      span.legend
        |Гугль
    .chart.chart__green.chart__green--t
      span.legend
        |Хром
    .chart.chart__lgreen.chart__lgreen--t
      span.legend
        |Огнелис
    .chart.chart__orange.chart__orange--t
      span.legend
        |Дымоволк
    .chart.chart__pink.chart__pink--t
      span.legend
        |Сусанин Иван
  .diagram__column
    .diagram__column__title
      |Валентин
    .chart.chart__blue
      span.legend
        |Честность
    .chart.chart__green.chart__green--th
      span.legend
        |Местность
    .chart.chart__lgreen.chart__lgreen--th
      span.legend
        |Масса
    .chart.chart__orange.chart__orange--th
      span.legend
        |Том
    .chart.chart__pink.chart__pink--th
      span.legend
        |Местность
  .diagram__column
    .diagram__column__title
      |Аделаида
    .chart.chart__blue
      span.legend
        |Грусть
    .chart.chart__green.chart__green--f
      span.legend
        |Тоска
    .chart.chart__lgreen.chart__lgreen--f
      span.legend
        |Меня
    .chart.chart__orange.chart__orange--f
      span.legend
        |Снедает
    .chart.chart__pink.chart__pink--f
      span.legend
        |Радость