h2.diagram__title
  |Здесь русский дух, здесь русью пахнет
.diagram__subtitle
  |О сколько нам открытий чудных
.diagram__desc
  |Готовит просвещенья дух, и опыт, сын ошибок трудных, и гений, парадоксов друг.
.diagram__row
  ul.marker__list
    li.marker__item.marker__item--blue
      |Александр
    li.marker__item.marker__item--green
      |Сергеевич
    li.marker__item.marker__item--orange
      |Пушкин
  .strip
    .strip__row
      .strip__cel.strip__cel--one
        i.q
          |1Q
      .strip__cel.strip__cel--two
        i.q
          |2Q
      .strip__cel.strip__cel--three
        i.q
          |3Q
      .strip__cel.strip__cel--four
        i.q
          |4Q
      .strip__cel.strip__cel--five
        i.q
          |5Q
      .strip__cel.strip__cel--six
        i.q
          |6Q
      .strip__cel.strip__cel--seven
        i.q
          |7Q
      .strip__cel.strip__cel--eight
        i.q
          |8Q
      .strip__cel.strip__cel--nine
      .strip.strip--orange
      .strip.strip--green
      .strip.strip--blue
    .strip__row
      .strip__cel.strip__cel--one.strip__cel--one-s
      .strip__cel.strip__cel--two
      .strip__cel.strip__cel--three
      .strip__cel.strip__cel--four
      .strip__cel.strip__cel--five
      .strip__cel.strip__cel--six
      .strip__cel.strip__cel--seven
      .strip__cel.strip__cel--eight
      .strip__cel.strip__cel--nine
      .strip.strip--orange.strip--second-orange
      .strip.strip--green.strip--second-green
      .strip.strip--blue.strip--second-blue
    .strip__row
      .strip__cel.strip__cel--one.strip__cel--one-th
      .strip__cel.strip__cel--two
      .strip__cel.strip__cel--three
      .strip__cel.strip__cel--four
      .strip__cel.strip__cel--five
      .strip__cel.strip__cel--six
      .strip__cel.strip__cel--seven
      .strip__cel.strip__cel--eight
      .strip__cel.strip__cel--nine
      .strip.strip--orange.strip--third-orange
      .strip.strip--green.strip--third-green
      .strip.strip--blue.strip--third-blue
