h2.diagram__title
  |Здесь русский дух, здесь русью пахнет
.diagram__subtitle
  |О сколько нам открытий чудных
.diagram__desk
  |Готовит просвещенья дух, и опыт, сын ошибок трудных, и гений, парадоксов друг.
.diagram__row
  ul.marker__list
    li.marker__item.marker__item--blue
      |Александр
    li.marker__item.marker__item--green
      |Сергеевич
    li.marker__item.marker__item--orange
      |Пушкин
  .strip
    .strip__row
      .strip__cel.strip__cel--one
      .strip__cel.strip__cel--two
      .strip__cel.strip__cel--three
      .strip__cel.strip__cel--four
      .strip__cel.strip__cel--five
      .strip__cel.strip__cel--six
      .strip__cel.strip__cel--seven
      .strip__cel.strip__cel--eight
      .strip__cel.strip__cel--nine
    .strip__row
      .strip__cel.strip__cel--one
      .strip__cel.strip__cel--two
      .strip__cel.strip__cel--three
      .strip__cel.strip__cel--four
      .strip__cel.strip__cel--five
      .strip__cel.strip__cel--six
      .strip__cel.strip__cel--seven
      .strip__cel.strip__cel--eight
      .strip__cel.strip__cel--nine
    .strip__row
      .strip__cel.strip__cel--one
      .strip__cel.strip__cel--two
      .strip__cel.strip__cel--three
      .strip__cel.strip__cel--four
      .strip__cel.strip__cel--five
      .strip__cel.strip__cel--six
      .strip__cel.strip__cel--seven
      .strip__cel.strip__cel--eight
      .strip__cel.strip__cel--nine
